.row {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.08rem;
  color: white;
}
.row_posters {
  display: flex;
  overflow-x: scroll;
  overflow: hidden;
  padding: 20px;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 1vw;
}
.row_poster:hover {
  transform: scale(1.08);
}

.row_posterLarge {
  max-height: 250px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}
